# fly.toml app configuration file generated for broken-sound-3134 on 2023-05-23T17:48:03Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = "team-one"
primary_region = "ams"

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
