@import "tailwindcss";

/* clears the ‘X’ from Internet Explorer */
input[type="search"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
input[type="search"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

html {
  background-color: var(--color-background);
}

/* ONLY CHANGE FROM FROM BELOW THIS LINE */

/* DEFAULT */
/* background #222B31 */
/* primary #FF424F */
/* secondary (text) #FFFFFF */
/* accent (secondary text) #9CA3AF */

@theme {
  --font-display: "Arial";

  --color-background: #222B31;
  --color-primary: #FF424F;
  --color-secondary: #FFFFFF;
  --color-accent: #9CA3AF;
}
